page-signup {

  .toolbar-background {
    background-color: map_get($colors,theme_color) !important;
  }

  .signUpBtn{
   background: map_get($colors,theme_color) !important;
 }
 .titu1{
   text-align: center;
 }

 .rodape1{
   background-color: red;
 }
}
